<% provide(:title, "Home") %>

<div class="container">
<div class="row">
	<div class="col-md-12">
		<% if user_signed_in? %>
			<div class="row">
				<div class="col-md-3">
					<h3 style="margin-bottom: 0"><%= current_user.username %><small> (<%= pluralize(current_user.products.count, "product") %>)</small></h3>
					<span><%= link_to 'view my profile', current_user, class: 'style-a' %></span>
					<div class="row" style="margin-top: 10px">
						<div class="col-md-9">
							<% if current_user.avatar.url.present? %>
							<%= image_tag(current_user.avatar.url, class: 'img-responsive') %>
							<% else %>
							<%= image_tag('default-avatar.png', class: 'img-responsive') %>
							<% end %>
						</div>
						
					</div>
				</div>

				<div class="col-md-9" style="border-left: 1px solid #eee">
					<h1 class="text-center">Dashboard</h1>

					<ul class="products">
						<% if @feed_items.any? %>
						<%= render @feed_items %>
						<% end %>
					</ul>
					
					<div class="text-center">
					<%= will_paginate @feed_items, renderer: BootstrapPagination::Rails %>
					</div>
				</div>

			</div>

		<% else %>
		<div class="jumbotron text-center">
			<h1>Welcome to ProductH</h1>
			<p>This is the place where you can discover new products</p>
			<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success btn-lg' %>
			<%= link_to 'Log In', new_user_session_path, class: 'btn btn-success btn-lg' %>
		</div>
		
		<% end %>
	</div>
</div>
</div>




