<li>
	
    <% if product.user.avatar.url.present? %>
    <%= link_to image_tag(product.user.avatar.url, class: 'img-responsive nav-img'), product.user %>
    <% else %>
    <%= link_to image_tag('default-avatar.png', class: 'img-responsive nav-img'), product.user %>
    <% end %>
	
<%= link_to product.user.username, product.user, class: 'style-a' %>
<div class="row" style="margin-top: 10px">
	<div class="col-xs-3">
		<% if product.image.url.present? %>
		<%= image_tag(product.image.url, class: 'img-responsive') %>
		<% else %>
		<%= image_tag('default-product.png', class: 'img-responsive') %>
		<% end %>
	</div>

	<div class="col-xs-9">
		<div class="row">
		<div class="col-xs-8">
		<p class="product-title"><%= product.title %></p>
		<p><strong>Description: </strong><%= product.description %></p>
		<span class="timestamp">Posted <%= time_ago_in_words(product.created_at) %> ago.</span>
		<%= commontator_thread(product) %>
		</div>
		<div class="col-xs-4">
		<% if current_user == product.user %>
		<div class="edit-section">
		<%= link_to 'edit', edit_product_path(product.id), class: 'style-a' %>
		<span style="color: #42CA77;">|</span>
		<%= link_to 'delete', product, method: :delete, data: { confirm: "Are you sure you want to remove this product?" }, class: 'style-a' %>
		</div>
		<% end %>
		</div>
		</div>
	</div>
</div>


</li>