<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">

<div class="container">

<div class="navbar-header">

<%= link_to 'First App', root_path, class: 'navbar-brand' %>
</div>



<ul class="nav navbar-nav navbar-right">

<% if user_signed_in? %>
<li><%= link_to 'My Products', current_user, class: 'navbar-link' %></li>

<li class="dropdown">
  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

	<% if current_user.admin? %>
		<strong><%= current_user.username %> (Admin)</strong>.
	<% else %>
		<strong><%= current_user.username %></strong>.
	<% end %> 
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %> </li>
  	<li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
  </ul>
</li>

  
<% else %>
 <li><%= link_to "Sign up", new_user_registration_path, class: 'navbar-link home-link' %></li>
 <li><%= link_to "Login", new_user_session_path, class: 'navbar-link home-link'  %></li>
<% end %>

</ul>



</div>

</nav>


<%= yield %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>

